.calendar-sidebar {
    background-color: #6491ee !important;
    box-shadow: none !important;
}

.calendar-sidebar > .month-list > .calendar-months > li {
    padding: 7px 30px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.calendar-sidebar > .month-list > .calendar-months > li:hover {
    background-color: white !important;
}

.calendar-sidebar > .month-list > .calendar-months > li.active-month {
    background-color: white !important;
}

th[colspan="7"] {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    color: black !important;
}

.event-list > .event-empty {
    padding: 15px 10px;
    background-color: rgba(255, 255, 255, 0.15) !important;
    border: none !important;
}

.event-list > .event-empty > p {
    margin: 0;
    color: black !important;
}

.calendar-sidebar > span#sidebarToggler {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px !important;
    background-color: #6491ee !important;
    box-shadow: none !important;
}

#eventListToggler {
    background-color: #6491ee !important;
}

tr.calendar-body .calendar-day .day {
    border-radius: 15% !important;
    color: #5a5a5a;
}

tr.calendar-body .calendar-day .day.calendar-active,
tr.calendar-body .calendar-day .day.calendar-active {
    color: white !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    background-color: #6491ee !important;
    text-decoration: underline;
}
