@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    background-color: rgba(243, 243, 243, 1);
}

/* Navbar & Offcanvas */
.sidebar-nav {
    width: 250px !important;
}

.nim {
    font-size: 12px;
    font-weight: 200;
}

nav .dropdown-menu {
    width: 200px;
    border-radius: 20px;
}

.profile-menu {
    font-size: 12px;
}

.sidebar-menu {
    height: 80%;
}

.sidebar-logout {
    height: 20%;
}

.sidebar-menu ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu a {
    color: #ABABAB;
    text-decoration: none;
}

.sidebar-menu a:visited {
    color: black;
}

.sidebar-logout a {
    color: #A11A1A;
    font-weight: bold !important;
    text-decoration: none;
}

@media (min-width: 992px) {
    .sidebar-nav {
        transform: none;
        width: 250px !important;
        visibility: visible !important;
    }

    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
    }

    .sidebar-nav-close{
        visibility: hidden;
    }

    #main-nav {
        margin-left: 250px;
    }

    #main-nav .container-fluid {
        background-color: rgba(243, 243, 243, 1);
    }

    main {
        margin-left: 250px;
        height: calc(100vh - 135px);
    }
}

@media (max-width: 992px) {
    main {
        height: calc(100vh - 125px);
    }
}

/* Main */
.wrapper {
    background-color: white;
    border: 1px solid rgba(132, 132, 132, 0.5);
    border-radius: 30px;
    width: 85%;
    height: 85%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.button-container button {
    width: 258px;
    height: 68px;
    background-color: #6491EE;
}

.button-text {
    height: 100%;
    width: 80%;
    font-size: 24px;
}

.button-icon {
    height: 100%;
    width: 20%;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.4);
}