@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Montserrat:wght@600&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 600px;
    background-color: rgba(243, 243, 243, 1);
}

/* Main */
.wrapper {
    background-color: white;
    border: 1px solid rgba(132, 132, 132, 0.5);
    border-radius: 30px;
    width: 85%;
    height: 85%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.button-container button {
    width: 258px;
    height: 68px;
    background-color: #6491ee;
}

.button-text {
    height: 100%;
    width: 80%;
    font-size: 24px;
}

.button-icon {
    height: 100%;
    width: 20%;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.4);
}
